<div class="flex justify-content-center" style="border: none; width: auto; height: auto; margin: 25px;">
  <!-- <p>a-general-info works!</p> -->


  <mat-card appearance="outlined" class="mt-1 px-2 grid" style="width: 100%;">

    <mat-card-header class="col-12">
      <mat-card-title class=" mt-2">Datos de la Mascota</mat-card-title>
    </mat-card-header>

    <mat-card-content class="col-12 mt-3">

      <form class="grid" action="" [formGroup]="newPetFormGroup">

        <mat-form-field floatLabel="always" class="col-12 col-lg-6 example-full-width mt-4 mt-lg-2"
          style="border: none;">
          <mat-label>Nombre</mat-label>
          <input matInput formControlName="newPetName" [maxlength]="30" appTextOnly>
          @if (newPetFormGroup.get('newPetName').hasError('required')) {
          <mat-error>Nombre is <strong>required</strong></mat-error>
          }
        </mat-form-field>

        <mat-form-field floatLabel="always" class="col-12 col-lg-6 example-full-width mt-1 mt-lg-2"
          style="border: none;">
          <mat-label>Género</mat-label>
          <mat-select formControlName="newPetGender" [errorStateMatcher]="matcher">
            <mat-option *ngFor="let item of listGenres" [value]="item.description  ">{{item.description}}</mat-option>
          </mat-select>
          @if (newPetFormGroup.get('newPetGender').hasError('required')) {
          <mat-error>Género is <strong>required</strong></mat-error>
          }
        </mat-form-field>

        <mat-form-field floatLabel="always" class="col-12 col-lg-6 example-full-width mt-1 mt-lg-2"
          style="border: none;">
          <mat-label>Especie</mat-label>
          <mat-select formControlName="newPetSpecies" [errorStateMatcher]="matcher" (selectionChange)="selectSpecies()">
            <mat-option *ngFor="let item of listSpeciesDto" [value]="item.id  ">{{item.description}}</mat-option>
          </mat-select>
          @if (newPetFormGroup.get('newPetSpecies').hasError('required')) {
          <mat-error>Especie is <strong>required</strong></mat-error>
          }
        </mat-form-field>

        <mat-form-field floatLabel="always" class="col-12 col-lg-6 example-full-width mt-1 mt-lg-2"
          style="border: none;">
          <mat-label>Raza</mat-label>
          <mat-select formControlName="newPetBreed" [errorStateMatcher]="matcher">
            <mat-option *ngFor="let item of listBreedsDto" [value]="item.id">{{item.description}}</mat-option>
          </mat-select>
          <!-- <input matInput formControlName="newPetBreed" [maxlength]="50"> -->
          @if (newPetFormGroup.get('newPetBreed').hasError('required')) {
          <mat-error>Raza is <strong>required</strong></mat-error>
          }
        </mat-form-field>
      </form>
    </mat-card-content>

    <!-- <mat-card-actions class=" mb-3 ml-2 mr-2" style="width: 100%; border: double;">
    </mat-card-actions> -->

  </mat-card>

</div>

<div class="mt-5 flex justify-content-end" style="border: none; width: auto; height: auto; margin: 25px;">
  <!-- <button mat-raised-button color="primary" class="first_color" (click)="retroceder()" type="button" [disabled]="true">
    Atrás
  </button> -->
  <button mat-raised-button color="primary" class="first_color" (click)="avanzar()" type="button">
    Siguiente
  </button>
</div>