.cuarter {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  /* height: 250px; */
  font-size: 100px;
}

.overlay-2 {
  width: 100%;
  height: 50px;
  background-color: rgba(181, 181, 181, 0.85);
  color: white  ;


}

.box-title {
  width: 50%;
  height: 150px;
  background-color: gray;
  color: white;

  padding: 10px;

  display: flex;
  align-items: center;
  justify-content: center;

}

button {
  color: white !important;
  background-color: #3b88ff;
}