<div class="overlay-2">
  <div class="flex justify-content-center align-items-end" style="height: 100%;">
    <p style="color: white;">Mascotas Perdidas App</p>
  </div>
</div>


<div class="cuarter flex justify-content-center" style="border: none;">

  <div class="contenido grid xl:px-8" style="border: none; width: 90%; height: auto;">

    <div class="col-12 flex justify-content-center  ">
      <div class="cuarter flex justify-content-center align-items-center">

        <div class="col-12" style="border: none; width: 100%;">
          <img class="mt-1 img-fluid" alt="Card" src="assets/fondo1.jpg" style="height: auto; border: none" />
        </div>

      </div>
    </div>
  </div>

</div>

<!-- <div *ngIf="flagLogged" class="mt-3 flex justify-content-center align-items-center" style="border: none;">
    <h1>Hola {{usuario}} 😺</h1>
  </div> -->

<div class="mt-3 flex justify-content-center align-items-center" style="border: none;">
  <h1>Servicios Ofrecidos</h1>
</div>

<div class="mt-3 flex justify-content-center" style="border: none;">
  <div class="contenido grid xl:px-8" style="border: none; width: 90%; height: auto;">

    <div class="col-12 col-lg-4">
      <mat-card appearance="outlined">
        <mat-card-header>
          <mat-card-title>Módulo de Adopciones</mat-card-title>
          <mat-card-subtitle>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae,
            maxime?</mat-card-subtitle>
        </mat-card-header>

        <mat-card-actions>
          <button mat-button>Ver Más</button>
        </mat-card-actions>

      </mat-card>
    </div>

    <div class="col-12 col-lg-4">
      <mat-card appearance="outlined">
        <mat-card-header>
          <mat-card-title> Módulo de Búsquedas</mat-card-title>
          <mat-card-subtitle>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae,
            maxime?</mat-card-subtitle>
        </mat-card-header>

        <mat-card-actions>
          <button mat-button>Ver Más</button>
        </mat-card-actions>

      </mat-card>
    </div>

    <div class="col-12 col-lg-4">
      <mat-card appearance="outlined">
        <mat-card-header>
          <mat-card-title>Módulo de Albergues</mat-card-title>
          <mat-card-subtitle>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae,
            maxime?</mat-card-subtitle>
        </mat-card-header>

        <mat-card-actions>
          <button mat-button>Ver Más</button>
        </mat-card-actions>

      </mat-card>
    </div>

  </div>
</div>