<!-- <p>menu works!</p> -->
  <p-menubar [model]="items" styleClass="custom-menu">

    <!-- <ng-template pTemplate="start">
      <img src="assets/sample.png" alt="" style="height: auto; width: 80px;">
    </ng-template> -->

    <ng-template pTemplate="end">

      <div class="" style="border: ridge; width: 100%;">
        <ul>
          <li>
            <a href="">Iniciar Sesión</a>
          </li>
          <li>
            <a href="">Registrarse</a>
          </li>
        </ul>

      <!-- <div class="">
          <button>Iniciar Sesión</button>
        </div>
        <div class="">
          <button>Registrarse</button>
        </div> -->
        </div>

  </ng-template>

  </p-menubar>



