<!-- <p>dashboard works!</p>
<button mat-button (click)="switchSideNav()"><mat-icon>dashboard</mat-icon></button>
<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" [opened]="flagSideNav" mode="side">
    <mat-nav-list>
      <mat-list-item>
        <button mat-button (click)="switchSideNav()"><mat-icon>dashboard</mat-icon></button>
      </mat-list-item>
    </mat-nav-list>

    <p>Auto-resizing sidenav</p>
    @if (showFiller) {
    <p>Lorem, ipsum dolor sit amet consectetur.</p>
    }
    <button (click)="showFiller = !showFiller" mat-raised-button>
      Toggle extra text
    </button>
  </mat-drawer>

  <mat-drawer-content>
  </mat-drawer-content>

  <div class="example-sidenav-content">
    <button type="button" mat-button (click)="drawer.toggle()">
      Toggle sidenav
    </button>
  </div>
</mat-drawer-container> -->