
<router-outlet></router-outlet>
<!-- <ngx-spinner bdOpacity=0.5 bdColor="rgba(94,94,94,0.62)" size="large" color="#ffffff" type="ball-scale-multiple"
  [fullScreen]="true">
  <p style="color: white">{{ 'general.loading_text' | translate }}</p>
</ngx-spinner> -->

<!-- <ngx-spinner bdOpacity=0.5 bdColor="rgba(94,94,94,0.62)" size="large" color="#ffffff" type="ball-scale-multiple"
  [fullScreen]="true">
  <p style="color: white">Espere</p>
</ngx-spinner> -->

<ngx-spinner
  bdOpacity="1.0" 
  bdColor="rgba(47, 47, 47, 1)" 
  size="large" 
  color="#2f2f2f"
  type="ball-scale-multiple" 
  [fullScreen]="true">
  <p style="color: white">Espere</p>
</ngx-spinner>