<!-- <mat-toolbar color="primary" class="mat-elevation-z6"> -->

<mat-toolbar color="primary">

  <mat-toolbar-row>
    <div class="flex">
      <div style="border: none;">
        <span>
          <mat-icon>pets </mat-icon>
          Mascotas Perdidas
        </span>
      </div>
    </div>

    <div class="full-list-options hidden lg:block" *ngIf="!smLimit" style="border: none;">
      <button mat-button routerLink="home">Inicio</button>
      <button mat-button routerLink="aboutus">Adopciones</button>
      <button mat-button routerLink="projects">Búsquedas</button>
      <button mat-button routerLink="aboutus">Albergues</button>
      <button id="btn_login" class="btnLogin" *ngIf="!isLogged" mat-raised-button color="basic"
        routerLink="auth/login">Iniciar Sesión</button>
      <button *ngIf="!isLogged" mat-raised-button color="accent" routerLink="auth/register">Registrarse</button>
      <button class="btnLogout" *ngIf="isLogged" mat-raised-button color="accent" (click)="onLogOut()"
        routerLink="logout">
        Cerrar Sesión
      </button>
    </div>

    <div class="block lg:hidden" style="border: none;">
      <button mat-button (click)="onSmallMenu()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
  </mat-toolbar-row>


  <mat-toolbar-row class="secuRow block lg:hidden" *ngIf="isSmallMenu">
    <div>
      <button mat-button routerLink="home">Inicio</button>
    </div>
    <div>
      <button mat-button routerLink="projects">Búsquedas</button>
    </div>
    <div>
      <button mat-button routerLink="aboutus">Adopciones</button>
    </div>
    <div>
      <button mat-button routerLink="aboutus">Albergues</button>
    </div>

    <div class="group">
      <button class="" style="margin-right: 15px;" *ngIf="!isLogged" mat-raised-button color="basic"
        routerLink="auth/login">
        Iniciar Sesión
      </button>
      <button *ngIf="!isLogged" mat-raised-button color="accent" routerLink="auth/register">
        Registrarse
      </button>

      <button *ngIf="isLogged" class="btnLogout" mat-raised-button color="accent" (click)="onLogOut()"
        routerLink="logout">
        Cerrar Sesión
      </button>

    </div>
  </mat-toolbar-row>

</mat-toolbar>