.btnLogin{
  margin-left: 15px;
  margin-right: 15px;
}

.btnLogout{
  margin-left: 15px;
}

.secuRow {
  height: 220px;
}

.group{
  margin-top: 10px;
}

@media (max-width: 959px) { /* Tamaño de pantalla md y más pequeño */
  mat-toolbar {
    position: relative; /* Cambia la posición si es absoluta */
    z-index: 999; /* Ajusta el valor según sea necesario */
  }
}

mat-toolbar {
  /* height: 200px; */
  background-color: #3b88ff;
}

mat-toolbar-row {
  justify-content: space-between;
}

.full-list-options{
  padding-left: 20px;
  padding-right: 20px;
}