.login-container{
  background-color: #296cd4;
  height: calc(100vh - 64px);
}

.login-card{
  width: 550px;

}

@media screen and (max-width: 599px) {
  .login-container {
    height: calc(100vh - 56px);
  }
}

button {
  color: white !important;
  background-color: #3b88ff;
  width: 100%;
}